/*body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  width: 170px;
  height: 170px;
  background: gold;
}
.box:hover {
  transform: rotate(15deg);
  transform: scale(0.5);
  transform: skew(14deg);
  transform: translate(10px, 10px);
  transform: rotate(45deg) translate(50px);
}
*/

/*-------------3d transformation-------------------*/ /*
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  width: 170px;
  height: 170px;
  background: gold;
}
.box:hover {
  transform: perspective(200px) translateZ(50px);
}*/

/*-------------Animation-------------------*/
/*
@keyframes pop {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}
.box {
  width: 170px;
  height: 170px;
  background: gold;
  animation-name: pop;
  animation-delay: 0.5s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}*/
